.page {
    display: flex;
    background-image: url(../../common/images/title-background.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 4vh 2vw;
    margin-left: 5vw;
    letter-spacing: 0.2vw;
    font-size: 7.5vw;
    font-weight: 700;
    line-height: 7.5vw;
}

.header b {
    margin-left: 9vw;
    font-size: 4vw;
}

.wrapper {
    height: 3vh;
    width: 80%;
    background-color: #3a3839;
}

@media screen and (max-device-width: 960px) {
    .page {
        display: flex;
        background-image: url(../../common/images/title-background__media.jpg);
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .container {
        display: flex;
        align-items: end;
    }

    .header {
        font-size: 15vw;
        font-weight: 700;
        line-height: 14vw;
        text-shadow: #3a3839;
    }

    .header b {
        font-size: 6vw;
    }

    .wrapper {
        height: 0;
    }
}

@media (max-width: 860px) {
    .page {
        display: flex;
        background-image: url(../../common/images/title-background__media.jpg);
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .wrapper {
        height: 0;
    }

    .container {
        display: flex;
        align-items: end;
    }

    .header {
        font-size: 10vw;
        font-weight: 700;
        line-height: 10vw;
        text-shadow: #3a3839;
    }
}