.content {
    display: flex;
    justify-content: space-between;
    z-index: -1;
}

.text-content {
    padding-right: 10vh;
    border-radius: 2px;
    width: 40%;
}

.photo-card {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-card img {
    width: 25vw;
}

.footer {
    width: 100%;
    height: 8vh;
    background-color: #b5a9a5;
    background-image: url(../../common/images/wushuLine.png);
    z-index: -1;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
}

.text-small {
    font-weight: 300;
    font-size: 2vh;
}

@media screen and (max-device-width: 960px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .photo-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        border-radius: 2px;
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5vh 5vw;
    }

    .footer {
        width: 100%;
        height: 3vh;
        background-size: 1vh;
        background-image: none;
    }
}

@media (max-width: 860px) {
    .content {
        display: flex;
        flex-direction: column;
        z-index: -1;
    }

    .photo-card {
        display: none;
    }

    .text-content {
        border-radius: 2px;
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5vh 5vw;
        backdrop-filter: brightness(0.5);
    }

    .footer {
        width: 100%;
        height: 3vh;
        background-size: 20vh;
    }

    .page {
        background-image: url(../../common/images/trainer-background.jpg);
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        backdrop-filter: brightness(0.6);
        z-index: -3 !important;
    }
}