.qigong__img {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.qigong__img img {
    width: 30vw;
    padding-right: 9vw;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
}

.qigong__img img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.qigong__page {
    position: relative;
}

.qigong__text-content {
    padding-left: 18vh;
    border-radius: 2px;
    width: 50%;
}

@media (max-width: 860px) {
    .qigong__img {
        align-items: start;
        padding-top: 1vh;
    }

    .qigong__text-content {
        padding: 20vh 4vw;
        border-radius: 2px;
        width: 90%;
    }
}

@media screen and (max-device-width: 960px) {
    .qigong__img {
        align-items: start;
    }

    .qigong__text-content {
        padding: 15vh 4vw;
        border-radius: 2px;
        width: 90%;
    }
}

@media (max-width: 1240px) {
    .qigong__img img {
        padding-right: 1vw;
        transition: transform 2s ease-in-out;
    }
}

@media (max-width: 1600px) {
    .qigong__img img {
        padding-right: 5vw;
        transition: transform 2s ease-in-out;
    }
}