.container {
    position: sticky;
    display: flex;
    justify-content: end;
    padding: 0vh 2vw;
    bottom: 0;
    height: 0vh;
    z-index: 100;
    top: 3vh;
}

.inner-container {
    display: flex;
    height: 2.2vh;
    color: #f1e3db;
    background-color: #3a3839;
    padding: 2vh 2.3vw;
    font-size: 2.2vh;
    list-style-type: none;
    font-weight: 600;
    letter-spacing: 0.23vw;
    border-radius: 2px;
}

.left-container {
    display: flex;
    margin-right: 4vw;
}

.right-container {
    display: flex;
}

.container li:not(:last-child) {
    margin-right: 2vw;
}

.container li {
    cursor: pointer;
}

@media (max-width: 860px) {
    .inner-container {
        flex-direction: column;
        justify-content: space-around;
        height: 7vh;
    }
}