* {
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --fSize: calc(1vh*1vw);
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../../public/fonts/caviar_dreams.eot');
  /* IE 9 Compatibility Mode */
  src: url('../../public/fonts/caviar_dreams.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */
    url('../../public/fonts/caviar_dreams.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../../public/fonts/caviar_dreams.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */
    url('../../public/fonts/caviar_dreams.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../../public/fonts/caviar_dreams.svg#caviar_dreams') format('svg');
  /* Chrome < 4, Legacy iOS */
}

body {
  background-color: #40464C;
  font-family: 'Caviar Dreams', 'Roboto Mono', system-ui, 'Roboto', 'Gill Sans', 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  position: relative;
}

body p {
  font-size: 2.4vh;
  line-height: 3.6vh;
}

.page {
  width: 99vw;
  height: 100vh;
  min-height: 600px;
}

.page__header {
  padding: 8vh 7vh;
  font-size: 8vh;
}

.page__text-content h3 {
  padding-bottom: 2.5vh;
  font-size: 3.2vh;
}

.page__text-content p:not(:last-child) {
  margin-bottom: 1.5vh;
}

@media screen and (max-device-width: 960px) {
  .page {
    width: 100vw;
    height: 100vh;
  }

  .page__header {
    padding: 4vh;
    font-size: 7vh;
  }

  .page__text-content {
    line-height: normal;
  }

  body p {
    font-size: 2vw;
    line-height: 2vw;
  }
}

@media (max-width: 860px) {
  .page__header {
    padding: 3vh;
    font-size: 6vh;
  }

  .page__text-content p {
    line-height: 3vh;
    font-size: 2.3vh;
  }

  .page__text-content p:not(:last-child) {
    margin-bottom: 1.3vh;
  }

  .page__text-content h3 {
    padding-bottom: 2vh;
    font-size: 2.5vh;
  }

}

@media only screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-height: 960px) {
  .page__header {
    padding: 3vh;
    font-size: calc(6vh*1vw);
  }

  .page__text-content p {
    line-height: 4vw;
    font-size: 2.3vw;
  }

  .page__text-content p:not(:last-child) {
    margin-bottom: 1.3vw;
  }

  .page__text-content h3 {
    padding-bottom: 2vw;
    font-size: 2.5vw;
  }

}