.menu-sticky {
    position: sticky;
    top: 0;
    height: 0;
    z-index: 100;
}

.menu-container {
    display: flex;
    justify-content: end;
    padding: 0vh 2vw;
    height: 0vh;

    color: #f1e3db;
    background-color: #3a3839;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0vh 2vw;
    color: #f1e3db;
    background-color: #3a3839;
    height: auto;
    list-style-type: none;
    align-items: center;
    font-size: 3.5vh;
    overflow: hidden;
}

.btn {
    color: #f1e3db;
    background-color: #3a3839;
    height: 5vh;
    width: 5vh;
    padding: 0 1.6vw;
    border-radius: 2px;
    font-size: 2vh;
}

.btn-open {
    margin: 3vh 2vw;
}

.btn-close {
    margin: 4vh 0;
}

.container li {
    margin-bottom: 3vh;
}

@media only screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-height: 960px) {
    .btn {
        height: 5vw;
        width: 5vw;
    }
}