.menu-sticky {
    position: sticky;
    top: 0;
    height: 0;
}

.menu-container {
    display: flex;
    justify-content: end;
    padding: 0vh 2vw;
    height: 0vh;
    z-index: 100;

    color: #f1e3db;
    background-color: #3a3839;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0vh 2vw;
    z-index: 100;
    color: #f1e3db;
    background-color: #3a3839;
    height: auto;
    list-style-type: none;
    align-items: center;
    font-size: 3.5vh;
    overflow: hidden;
}

.btn-open {
    color: #f1e3db;
    background-color: #3a3839;
    margin: 3vh 2vw;
    height: 5vh;
    width: 5vh;
    font-size: 2vh;
    padding: 0 1.6vw;
    border-radius: 2px;
    z-index: 1000 !important;
}

.btn-close {
    color: #f1e3db;
    background-color: #3a3839;
    width: 5vh;
    height: 5vh;
    font-size: 2vh;
    padding: 0 1.6vw;
    border-radius: 2px;
    margin: 4vh 0;
}

.container li {
    margin-bottom: 3vh;
}